In [1]:
var = 5

In [2]:
x=6

In [3]:
var + x

11

In [4]:
type(x)

int

In [5]:
a = 5.5

In [6]:
type(a)

float

In [7]:
name = "Hrant"

In [8]:
type(name)

str

In [9]:
surname = 'Davtyan'

In [10]:
type(surname)

str

In [11]:
z = x + a

In [12]:
z

11.5

In [13]:
name + surname

'HrantDavtyan'

In [14]:
name + " " + surname

'Hrant Davtyan'

In [15]:
x + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
number_as_text = str(x)

In [17]:
number_as_text

'6'

In [18]:
type(number_as_text)

str

In [19]:
str(x) + name

'6Hrant'

In [20]:
x*var

30

In [21]:
x*name

'HrantHrantHrantHrantHrantHrant'

In [23]:
2*(surname+" ")

'Davtyan Davtyan '

In [27]:
student_list = ["Jack", "James", "John"]

In [29]:
type(student_list)

list

In [32]:
print(student_list)

['Jack', 'James', 'John']

In [33]:
student_list.append("Jimmy")

In [34]:
print(student_list)

['Jack', 'James', 'John', 'Jimmy']

In [35]:
len(student_list)

4

In [36]:
student_list[1]

'James'

In [37]:
student_list[0]

'Jack'

In [38]:
student_list[3]

'Jimmy'

In [39]:
student_list[-1]

'Jimmy'

In [40]:
student_list[0:1]

['Jack']

In [41]:
student_list[0:2]

['Jack', 'James']

In [42]:
student_list[0:3]

['Jack', 'James', 'John']

In [43]:
mixed_list = [x,5,"Some text",student_list]

In [44]:
print(mixed_list)

[6, 5, 'Some text', ['Jack', 'James', 'John', 'Jimmy']]

In [45]:
mixed_list[-1]

['Jack', 'James', 'John', 'Jimmy']

In [46]:
mixed_list[-1][-1]

'Jimmy'

In [47]:
my_tuple = ("name", x, 5)

In [48]:
type(my_tuple)

tuple

In [49]:
student_list[-1]

'Jimmy'

In [50]:
student_list[-1] = "Ararat"

In [51]:
print(student_list)

['Jack', 'James', 'John', 'Ararat']

In [52]:
my_dictionary = {"name":"Hrant","surname":"Davtyan"}

In [53]:
type(my_dictionary)

dict

In [54]:
print(my_dictionary)

{'surname': 'Davtyan', 'name': 'Hrant'}

In [55]:
my_dictionary["name"]

'Hrant'

In [56]:
my_dictionary["surname"]

'Davtyan'

In [ ]:
dictionary = {"age":["5","6","7"],"name":["A,""]}

In [57]:
print(x)

6

In [58]:
x==6

True

In [59]:
x==7

False

In [62]:
x=="6"

False

In [63]:
if x==6:
    print "Succes!"

Succes!

In [64]:
if x==7:
    print "Succes!"

In [65]:
if x==7:
    print("It is 7")
else:
    print("It is not 7")

It is not 7

In [67]:
if x==7:
    print("It is 7")
elif x>7:
    print("It is higher than 7")
else:
    print("It is less than 7")

It is less than 7

In [72]:
x = input("Please, input some number ")
if x==7:
    print("It is 7")
elif x>7:
    print("It is higher than 7")
else:
    print("It is less than 7")

Please, input some number 56
It is higher than 7

In [71]:
print(7)

7

In [73]:
print(student_list)

['Jack', 'James', 'John', 'Ararat']

In [77]:
for student in student_list:
    print(student)

Jack
James
John
Ararat

In [76]:
print(i)

Ararat

In [78]:
range(5)

[0, 1, 2, 3, 4]

In [79]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
range(2,10,2)

[2, 4, 6, 8]

In [90]:
for i in range(4):
    print(student_list[i])

Jack
James
John
Ararat

In [92]:
y=0
while 3<5:
    print("success")
    y = y+1

success
success
success
success
success

In [105]:
def my_sum(x,y):
    return x+y

In [106]:
print(my_sum(3,5))

8

In [107]:
f = my_sum(157,1267)

In [108]:
print(f)

1424

In [109]:
import numpy

In [110]:
numpy.sqrt(16)

4.0

In [111]:
numpy.log(2.74)

1.0079579203999789

In [112]:
student_list[1]

'James'

In [113]:
name = "Hrant"

In [114]:
name[0]

'H'

In [116]:
name[0:2]

'Hr'

In [119]:
name[:2]

'Hr'

In [120]:
name[2:]

'ant'

In [121]:
my_name = "G" + name[1:]

In [122]:
print(my_name)

Grant

In [127]:
try:
    print(4/1)
except:
    print("ZeroDivisionError: integer division or modulo by zero")

4

In [125]:
4/0

ZeroDivisionError: integer division or modulo by zero

In [134]:
from __future__ import division

In [135]:
6/4

1.5

In [136]:
float(6)/float(4)

1.5

In [137]:
type(6.0)

float

In [138]:
6.0/4.0

1.5

In [139]:
from numpy import log

In [140]:
import numpy as np

In [141]:
np.log(10)

2.3025850929940459

In [142]:
import math